Hex: #64748b

Hex: #4f46e5

Hex: #f8fafc

Hex: #272727
Hex: #ffffff
Hex: #b6c5ff
Hex: #6366f1
Hex: #2c364c
Hex: #000000
Hex: #f1f5f9
Hex: #fbbf24
Hex: #202020
Hex: #cbd5e1
Hex: #7e858e
Hex: #121212

Hex: #475569

Hex: #ff0b37